.breadcrumbs {
  padding: 30px 0;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    @include state;

    margin-right: 20px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: var(--text-color);
    transition: color var(--transition-time);

    svg {
      margin-right: 5px;
      transition: fill var(--transition-time);
    }

    &:hover {
      color: var(--blue-color);

      svg {
        fill: var(--blue-color);
      }
    }
  }

  svg {
    width: 10px;
    height: 10px;
  }

  .arrow {
    margin-bottom: -2px;
  }
}
