.link {
  @include state;

  font-weight: 400;
  font-size: 16px;
  color: var(--light-color);
  transition: color var(--transition-time);

  &--fw500 {
    font-weight: 500;
  }

  &--fz12 {
    font-size: 12px;
  }
}
