@include for-desktop {
  .header {
    &__descr {
      display: none;
    }
  }

  .record {
    &__container {
      padding: 0 !important;
      max-width: 335px;
    }

    &__title {
      font-size: 32px;
      text-align: center;
    }

    &__bg {
      position: static;
      border-radius: 0;
      min-height: auto;

      img {
        height: 280px;
      }
    }

    &__wrapper {
      padding-left: 0;
    }

    &__content {
      padding: 30px;

      &::after {
        border-radius: 0 0 20px 20px;
        background-color: rgb(0, 23, 31);
      }
    }

    &__img {
      left: 0;
/*       top: -20px; */
    }

    &__form {
      &-wrapper {
        display: flex;
        flex-direction: column;
      }
    }

    .form {
      &__group {
        margin-right: 0;
        width: 100%;
      }

      &__input {
        width: 100%;
      }

      &__btn {
        margin-bottom: 10px;
        width: 100%;
        color: var(--text-color);
        background-color: #fff;
      }

      .custom-checkbox {
        &__content {
          letter-spacing: -0.5px;
        }
      }
    }
  }

  .credit {
    &__content {
      padding: 30px 50px 60px;
    }
  }

  .footer {
    &__body {
      flex-wrap: wrap;
    }

    &__menu {
      margin-bottom: 20px;
    }

    &__column {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

@include tablet {
  .header {
    &__top {
      &-contacts {
        display: none;
      }
    }
  }

  .services {
    &__slider {
      width: 100%;

      &-prev,
      &-next {
        display: block;
      }
    }
  }

  .credit {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__wrapper {
      max-width: 550px;
    }

    &__content {
      padding: 28px 20px 20px;
    }

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__img {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .example {
    &__slider {
      &-prev {
        left: 90px;
      }

      &-next {
        right: 90px;
      }
    }
  }
}

@include small-tablet {
  .container {
    padding: 0 20px;
  }

  .header {
    padding: 20px 0;
    min-height: 60px;

    &__logo {
      width: 72px;
      height: 20px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &__top {
      margin-bottom: 0;

      &-menu {
        display: none;
      }

      .action {
        display: none;
      }
    }

    &__bottom {
      display: none;
    }

    .burger {
      display: block;
    }
  }

  .services {
    padding-top: 46px;
  }

  .example {
    padding-bottom: 60px;

    &__slider {
      border-radius: 10px;
      height: 290px;
      max-width: 335px;

      &-prev {
        left: 20px;
      }

      &-next {
        right: 20px;
      }

      &-prev,
      &-next {
        border-radius: 100%;
        width: 30px;
        height: 30px;
        background-color: var(--light-color);

        &::after {
          background-image: url("../../img/svg/arrow-dark.svg");
        }
      }
    }
  }

  .footer {
    &__menu {
      flex-wrap: wrap;
      margin-bottom: 0;
    }

    &__column {
      margin-bottom: 25px;
    }
  }

  .title {
    font-size: 32px;

    &--fz24 {
      font-size: 24px;
    }
  }
}

@include mobile {
  .hero {
    height: auto;
    min-height: 430px;
    background-color: #fff;

    &__bg {
      position: relative;
      height: 180px;
    }

    &__container {
      justify-content: flex-start;
      padding: 25px 20px 30px;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 32px;
      color: var(--text-color);
    }

    &__descr {
      margin-bottom: 15px;
      font-size: 16px;
      color: var(--text-color);
    }

    &__form {
      flex-direction: column;
    }

    .form {
      &__group {
        margin: 0 0 20px;
        width: 100%;
      }

      &__label {
        color: var(--text-color);
      }

      &__input {
        border: 1.5px solid var(--text-color);
        width: 100%;
      }

      &__btn {
        margin-bottom: 10px;
        width: 100%;
      }

      .custom-checkbox {
        &__content {
          color: var(--text-color);

          &::before {
            border-color: var(--text-color);
          }

          &::after {
            background-image: url("../../img/svg/check-black.svg");
          }
        }
      }
    }
  }

  .breadcrumbs {
    display: none;
  }
}
