.services {
  &__wrapper {
    display: flex;
    align-items: stretch;
    margin: 0 auto;
    max-width: 960px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__slider {
    margin-bottom: 25px;
    width: 960px;
    height: 540px;

    &-prev,
    &-next {
      display: none;
    }
  }

  &__item {
    display: flex;
    justify-content: center;

    .card {
      height: 100%;
    }
  }

  &__descr {
    margin: 0 auto;
    max-width: 1065px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--body-descr-color);
  }
}
