.title {
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  color: var(--text-color);

  &--fz24 {
    font-weight: 700;
    font-size: 24px;
  }

  &--light {
    color: var(--light-color);
  }
}
