<section class="breadcrumbs">
  <div class="container breadcrumbs__container">
    <ul class="list-reset breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link breadcrumbs__link-main">
          <svg>
            <use xlink:href="img/sprite.svg#home"></use>
          </svg>
          <span>Главная</span>
        </a>

        <svg class="arrow">
          <use xlink:href="img/sprite.svg#bread-arrow"></use>
        </svg>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">
          <span>Цены на наши окна</span>
        </a>
      </li>
    </ul>
  </div>
</section>
