<section class="example">
  <div class="container example__container">
    <h2 class="example__title title">
      Примеры наших работ
    </h2>

    <div class="example__slider swiper">
      <div class="swiper-wrapper">
        <div class="example__slider-item swiper-slide">
          <img src="../img/example/example-img.jpg" alt="example img">
        </div>

        <div class="example__slider-item swiper-slide">
          <img src="../img/example/example-img.jpg" alt="example img">
        </div>

        <div class="example__slider-item swiper-slide">
          <img src="../img/example/example-img.jpg" alt="example img">
        </div>
      </div>
      <div class="example__slider-prev"></div>
      <div class="example__slider-next"></div>
    </div>
  </div>
</section>
