<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title title title--light">
      ПВХ окна — цены на окна
      с установкой под ключ
    </h1>

    <p class="hero__descr">
      Для точного расчёта стоимости остекления мы рекомендуем воспользоваться бесплатной услугой вызова замерщика.Привезём образцы. Сделаем расчёт в 3-х вариантах.
    </p>

    <form class="form hero__form" action="">
      <div class="form__group">
        <label class="form__label" for="form__input">Ваш телефон</label>
        <input class="form__input" type="text" name="phone">
      </div>


      <button class="btn btn--w240 form__btn">Рассчитать со скидкой</button>

      <div class="form__privacy">
        <label class="custom-checkbox">
          <input type="checkbox" class="custom-checkbox__field">
          <span class="custom-checkbox__content">Даю согласие на обработку персональных данных</span>
        </label>
      </div>
    </form>
  </div>
</section>
