<section class="record">
  <div class="container record__container">
    <div class="record__bg">
      <img src="../img/record/record-bg.png" alt="record bg">
    </div>

    <div class="record__wrapper">
      <div class="record__img">
        <img src="../img/record/window.png" alt="Окно">
      </div>

      <div class="record__content">
        <h2 class="record__title title title--light">
          Запишитесь на бесплатный замер
        </h2>

        <form action="" class="form record__form">
          <div class="record__form-wrapper">
            <div class="form__group">
              <label for="" class="form__label">
                Ваше имя
              </label>

              <input type="text" class="form__input">
            </div>

            <div class="form__group">
              <label for="" class="form__label">
                Номер телефона
              </label>

              <input type="text" class="form__input">
            </div>

            <button class="btn-reset btn btn--w140 btn--red form__btn">
              Записаться
            </button>
          </div>
          <div class="form__privacy">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">Даю согласие на обработку персональных данных</span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
