<section class="services">
  <div class="container services__container">
    <h2 class="services__title title">
      Цены на окна с установкой под ключ
    </h2>

    <ul class="list-reset services__wrapper">
      <li class="services__item">
        <article class="card">
          <div class="card__top">
            <div class="card__top-img">
              <img src="../img/services/service.png" alt="service item">
            </div>
          </div>

          <div class="card__bottom">
            <div class="card__bottom-title title title--fz24">
              Двухстворчатое
              окно 1300x1400мм
            </div>

            <div class="card__bottom-price">
              9 984 ₽
            </div>

            <button class="btn-reset btn btn--w130 card__bottom-btn">
              Заказать
            </button>
          </div>
        </article>
      </li>

      <li class="services__item">
        <article class="card">
          <div class="card__top">
            <div class="card__top-img">
              <img src="../img/services/service.png" alt="service item">
            </div>
          </div>

          <div class="card__bottom">
            <div class="card__bottom-title title title--fz24">
              Двухстворчатое
              окно 1300x1400мм
            </div>

            <div class="card__bottom-price">
              9 984 ₽
            </div>

            <button class="btn-reset btn btn--w130 card__bottom-btn">
              Заказать
            </button>
          </div>
        </article>
      </li>

      <li class="services__item">
        <article class="card">
          <div class="card__top">
            <div class="card__top-img">
              <img src="../img/services/service.png" alt="service item">
            </div>
          </div>

          <div class="card__bottom">
            <div class="card__bottom-title title title--fz24">
              Двухстворчатое
              окно 1300x1400мм
            </div>

            <div class="card__bottom-price">
              9 984 ₽
            </div>

            <button class="btn-reset btn btn--w130 card__bottom-btn">
              Заказать
            </button>
          </div>
        </article>
      </li>
    </ul>

    <p class="services__descr">
      * Цены на сайте являются ориентировочными. «Цена за окно» включает только цену на конструкцию указанных размеров и типов открывания с учетом текущих скидок. «Цена с установкой» включает в себя помимо цены на изделие цену стандартных подоконников глубиной до 250 мм, цену наружных отливов и установку данных изделий. Стоимость доставки рассчитывается индивидуально в зависимости от местоположения объекта остекления.
    </p>
  </div>
</section>
