// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Geometria", sans-serif;
  --content-width: 1260px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --bg-color: #ecf4f6;
  --text-color: #00171f;
  --body-descr-color: #00171f4d;
  --footer-text-color: #33c5f380;
  --light-color: #fff;
  --folly-color: #ff005c;
  --blue-color: #33c5f3;

  // border-radius
  --radius-5: 5px;
  --radius-10: 10px;
  --radius-20: 20px;

  // transition
  --transition-time: 0.4s;

  // z-index
  --ui-index-1: 1;
  --ui-index-2: 2;
  --ui-index-3: 3;
  --ui-index-4: 4;
  --ui-index-5: 5;
  --ui-index-6: 6;
}
